.lists__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  counter-reset: item;
}

.lists__item {
  position: relative;
  width: 170px;
  height: 424px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 8px 8px 24px 24px;
  background-color: #ffffff;
  margin: 32px 0 24px 0;
  &:before {
    position: absolute;
    top: -24px;
    color: #6f7073;
    font: 600 20px/24px "Source Sans Pro", sans-serif;
  }
}

.lists__status {
  font: 14px/16px "Source Sans Pro", sans-serif;
  background-color: #edf0f7;
  border-radius: 16px;
  position: absolute;
  padding: 3px 25px 0 16px;
  height: 48px;
  width: 138px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: -24px;
  left: 0;
  z-index: 1;
}

.lists__status-read {
  font-weight: 600;
  background-color: #3e99ed;
  color: #fff;
}

.lists__link {
  height: 256px;
  width: 170px;
  border-radius: 8px;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  img {
    -o-object-fit: contain;
    object-fit: contain;
  }
  &:after {
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.lists__remove {
  position: absolute;
  display: block;
  top: 206px;
  left: calc(50% - 63px);
  color: #fff;
  padding: 0 0 0 30px;
  z-index: 5;
  font: 16px/26px "Source Sans Pro", sans-serif;
  &:before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: 0;
    background: url("../img/SVGsprite.svg") -200px -104px no-repeat;
  }
}

.lists__remove ~ .lists__link::after {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, rgba(0, 0, 0, 0.05)),
    to(black)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.05) 50%,
    black 100%
  );
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

.lists__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  border: 1px solid #d9dbe0;
  border-top: none;
  border-radius: 0 0 24px 24px;
  margin-top: -8px;
  color: #252626;
  padding: 18px 15px 15px;
  height: 176px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.lists__menu,
.lists__menu:visited {
  width: 16px;
  height: 16px;
  padding: 5px 5px 5px 11px;
  position: absolute;
  margin: 0;
  top: 16px;
  right: -1px;
}

.lists__menu::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 18px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #88898c;
  -webkit-box-shadow: 0 -6px 0 0 #88898c, 0 6px 0 0 #88898c;
  box-shadow: 0 -6px 0 0 #88898c, 0 6px 0 0 #88898c;
}

.lists__menu-block {
  display: none;
  position: absolute;
  padding: 0 12px;
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 20px;
  right: 22px;
  top: -1px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
  z-index: 11;
}

.lists__menu-block a,
.lists__menu-block a:visited {
  font: 16px/37px "Source Sans Pro", sans-serif;
  color: #252626;
  border-bottom: 1px solid #dcdee0;
  width: 100%;
  text-align: center;
  padding: 0 12px 2px;
}

.lists__menu-block a:hover,
.lists__menu-block a:focus {
  background-color: #edf0f7;
}

.lists__menu:hover .lists__menu-block,
.lists__menu:focus .lists__menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lists__book-title,
.lists__book-title:visited {
  font: 600 16px/16px "Source Sans Pro", sans-serif;
  color: #252626;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 32px;
  width: calc(100% - 16px);
}

.lists__author,
.lists__author:visited {
  font: 14px/17px "Source Sans Pro", sans-serif;
  color: #252626;
  margin: 9px 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.lists__rating {
  position: relative;
  padding: 0 0 11px 28px;
  font: 300 26px/24px "Source Sans Pro", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: auto;
}

.lists__rating::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: url("../img/SVGsprite.svg") -138px -182px no-repeat;
}

.lists__mymark {
  position: absolute;
  font: 300 26px/24px "Source Sans Pro", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 11px 28px;
  bottom: 57px;
  right: 15px;
}

.lists__mymark::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: url("../img/SVGsprite.svg") -112px -182px no-repeat;
  width: 24px;
  height: 24px;
}

.lists__item .btn-add-plus,
.lists__item .btn-add-plus:visited {
  color: #fff;
  margin: 10px 0 0;
}
